<div class="flex flex-col gap-2 p-6 bg-white rounded-lg shadow">
  <button
    (click)="onGoogleLogin()"
    class="btn btn-outline-primary w-full py-2 px-4 flex items-center justify-center bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-100"
  >
    <h5 class="text-xl">
      <span class="text-gray-900">Login with </span>
      <span class="text-[#4285f4]">G</span>
      <span class="text-[#ea4335]">o</span>
      <span class="text-[#fbbc05]">o</span>
      <span class="text-[#4285f4]">g</span>
      <span class="text-[#34a853]">l</span>
      <span class="text-[#ea4335]">e</span>
    </h5>
  </button>
</div>
