<app-table
  [title]="'Employees'"
  [dataSource]="employeeDataSource"
  [displayedColumns]="['id', 'name']"
  [isAuthenticated]="isAuthenticated"
  (add)="addEmployee()"
  (edit)="editEmployee($event)"
  (delete)="deleteEmployee($event)"
></app-table>

<app-slide-panel
  [isOpen]="isSlidePanelOpen"
  [currentAction]="currentAction"
  [entityType]="'Employee'"
  [entity]="selectedEntity"
  [companies]="companies"
  (onClose)="onCloseSlidePanel()"
  (onRefresh)="onRefreshData()"
>
</app-slide-panel>
