.sidenav {
    width: 240px;
    @apply bg-blue-600 p-3 mt-10
  }

  .sidenav-container {
    height: 100vh;
    @apply bg-blue-600 gap-2 
  }
  
  .active-link {
    background-color: rgba(255, 255, 255, 0.1); 
    border-left: 4px solid #ffffff;
    color: #ffffff;
  }