<div class="flex flex-col lg:flex-row justify-around gap-5 p-3">
  <div class="w-full lg:w-1/2">
    <app-table
      [title]="'Employees'"
      [dataSource]="employeeDataSource"
      [displayedColumns]="['id', 'name']"
      [isAuthenticated]="isAuthenticated"
      (add)="addEmployee()"
      (edit)="editEmployee($event)"
      (delete)="deleteEmployee($event)"
    ></app-table>
  </div>

  <div class="w-full lg:w-1/2">
    <app-table
      [title]="'Companies'"
      [dataSource]="companyDataSource"
      [displayedColumns]="['id', 'name']"
      [isAuthenticated]="isAuthenticated"
      (add)="addCompany()"
      (edit)="editCompany($event)"
      (delete)="deleteCompany($event)"
      (showEmployees)="showEmployees($event)"
    ></app-table>
  </div>
</div>

<app-slide-panel
  [headerText]="getHeaderText()"
  [isOpen]="isSlidePanelOpen"
  [currentAction]="currentAction"
  [employees]="companyEmployees"
  (onClose)="onCloseSlidePanel()"
>
  <div *ngIf="currentAction === SlidePanelAction.ShowEmployees">
    <ul class="list-disc pl-5">
      <li *ngFor="let employee of companyEmployees" class="py-1">
        {{ employee.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="currentAction === SlidePanelAction.EditEmployee">
    <app-edit-form
      *ngIf="currentAction"
      [entity]="selectedEntity"
      [isEmployee]="currentAction === SlidePanelAction.EditEmployee"
      (formSubmit)="onFormSubmit($event)"
    ></app-edit-form>
  </div>

  <div *ngIf="currentAction === SlidePanelAction.AddEmployee">
    <!-- TODO -->
  </div>

  <div *ngIf="currentAction === SlidePanelAction.EditCompany">
    <app-edit-form
      *ngIf="currentAction"
      [entity]="selectedEntity"
      [isEmployee]="currentAction === SlidePanelAction.EditCompany"
      (formSubmit)="onFormSubmit($event)"
    ></app-edit-form>
  </div>

  <div *ngIf="currentAction === SlidePanelAction.AddCompany">
    <!-- TODO -->
  </div>
</app-slide-panel>
